

/******地址列表*****/
.item-list {
    /* padding-top: .42rem; */
    overflow-x: hidden;
}

.item-list li  {
    overflow: hidden;
}

.item-list .wrapper {
    position: relative;
    background-color: #fff;
    max-width: 7.5rem;
    height: 1.33rem;
    margin: 0.23rem 0 0.13rem 0;
    transition: transform 0.3s ease;
    line-height: 1;
    overflow: hidden;
}

.item-list li .left {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-list li .left .addr_icon {
    width: 0.55rem;
    height: 0.55rem;
    background-position: -1.24rem -3.23rem;
    margin-left: 0.3rem;
    margin-right: 0.2rem;
}

.item-list li .content {
    margin-right: 1rem;
    line-height: 1;
}

.item-list li .content .info {
    height: 0.44rem;
    margin-top: 0.1rem;
}

.item-list li .content .name {
    color: #333;
    font-size: 0.28rem;
}

.item-list li .content .phone {
    color: #747474;
    font-size: 0.22rem;
}

.item-list li .content .detail {
    color: #333;
    font-size: 0.28rem;
    line-height: 0.4rem;

    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}

.item-list li .content .detail .type {
    background-color: #ffacac;
    color: #fff;
    padding: 0 0.2rem;
    margin-right: 0.2rem;
}

.item-list li .right {
    float: right;
    height: 0.96rem;
    margin-top: 0.18rem;
    border-left: 0.01rem solid #333;
}

.item-list li .right span {
    display: inline-block;
    line-height: 0.96rem;
    margin-right: 0.3rem;
    margin-left: 0.1rem;
    color: #747474;
    font-size: 0.28rem;
}

.add_addr_btn {
    height: 0.95rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 0.95rem;
    background-color: #ec4a58;
    color: #fff;
    font-size: 0.3rem;
}