/* 奖品柜 */
#awardsBox{
    background: #f9f9f9;
}
.awardsBox{
    width: 7.5rem;
    position: relative;
}

.awardsBox .selAwardbox{
    margin:.3rem;
}
.awardsBox .selAwardbox .item{
    display: flex;
    flex-direction: row;
    margin-bottom: .3rem;
}
.awardsBox .selAwardbox .item .goubox{
    width: .35rem;
    height: .35rem;
    margin-right: .1rem;
    align-self:center;
}
.awardsBox .selAwardbox .item .gou{
    width: .35rem;
    height: .35rem;
    background-position: 0 -3.23rem;
   
}
.awardsBox .selAwardbox .item .sel{
    background-position: -.36rem -3.23rem;
}
.awardsBox .selAwardbox .item .img{
    width: 2.05rem;
    height: 2.05rem;
}
.awardsBox .selAwardbox .item .img img{
    width: 2.05rem;
    height: 2.05rem;
    display: block;
}
.awardsBox .selAwardbox .item .word{
    padding-left: .3rem;
    font-size: .24rem;
    box-shadow: 1px 1px 1px #ddd;
    background: #fff;
    width: 4.41rem;
    box-sizing: border-box;
}
.awardsBox .selAwardbox .item .word .tit{
    padding-top: 0.3rem;
    padding-right: 0.6rem;
    font-size: 0.24rem;
    color: #333;
    line-height: 0.52rem;
    margin-bottom: .3rem;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.awardsBox .selAwardbox .item .word .price{
    color: #fe0e4b;
}
.aw_bottom{
   width: 7.5rem;
    display: flex;
    flex-direction: row;
    height: .98rem;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;

    background: #fff;
}
.aw_bottom .left{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.aw_bottom .left .goubox{
    width: .35rem;
    height: .35rem;
    margin-right:.2rem;

    margin-left: .3rem;
    align-self:center;
}
.aw_bottom .left i.gou{
    width: .35rem;
    height: .35rem;
    background-position: 0 -3.23rem;      
}
.aw_bottom .left i.sel{
    background-position: -.36rem -3.23rem;
}
.aw_bottom .left .word{
    align-self:center;
}
.aw_bottom .left .word.mr{
    margin-right: .35rem;
}
.aw_bottom .right{
    width: 30%;
    text-align: center;
    background: #EC4A58;
    color: #fff;
    line-height: .98rem;
}