#collect {
    background-color: #F5F5F5;
}

.collect-content {
    width: 6.9rem;
    overflow-y: auto;
    margin: 0 auto;
}

/******导航*****/
.collect-content nav {
    height: .6rem;
    padding-top: .25rem;
    font-size: .28rem;
}

.collect-content nav em {
    background-color: #fff;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    transition: background-color 0.3s ease;
}
.collect-content nav .cur{
    background-color: #EC4A58;
    color: #fff;
}

/******编辑按钮*****/
.collect-edit-box{
    height: .7rem;
    line-height: .7rem;
    text-align: right;
    color: #EC4A58;
    font-size: .28rem;
}

/******商品列表*****/
.item-list {
    /* padding-top: .42rem; */
    overflow-x: hidden;
}

.item-list li {
    position: relative;
    background-color: #fff;
    width: 6.9rem;
    float: left;
    height: 2.05rem;
    margin-bottom: .24rem;
    transition: transform 0.3s ease;
}

.item-list li>a {
    float: left;
    width: 2.05rem;
    height: 2.05rem;
}

.item-list li>a img {
    width: 2.05rem;
    height: 2.05rem;
}

.item-list li .right {
    height: 100%;
    float: right;
    width: 4.55rem;
}

.item-list li h3 {
    margin-top: .32rem;
    font-size: .24rem;
    color: #333;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-list li .get-btn {
    right: .14rem;
    bottom: .17rem;
}

.item-list li .price {
    color: #EC4A58;
    font-size: .24rem;
    bottom: .17rem;
}

.item-list li .del-btn{
    width: 1.22rem;
    height: 100%;
    background-color: #EC4A58;
    text-align: center;
    line-height: 2.05rem;
    color: #fff;
    top: 0;
    left: 6.9rem;
}
.item-list .edit li{
    transform: translate3d(-1.22rem, 0, 0);
}