
/******消息列表*****/
.item-list {
    /* padding-top: .42rem; */
    overflow-x: hidden;
}

.item-list li {
    border: 1px solid #eee;
    margin: 0.3rem 0.3rem 0.02rem 0.3rem;
    position: relative;
    background-color: #fff;
    width: 6.9rem;
    float: left;
    height: 2.05rem;
    transition: transform 0.3s ease;
    line-height: 1;
}

.item-list li .header {
    overflow: hidden;
    width: 6.64rem;
    height: 0.8rem;
    /* line-height: 0.8rem; */
    border-bottom: 0.02rem #eee solid;
    margin-left: 0.13rem;
}

.item-list li .header .title {
    float: left;
    font-size: 0.28rem;
    color: #333;
    margin-left: 0.77rem;
    margin-top: 0.3rem;
    width: 4.5rem;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}

.item-list li .header .time {
    float: right;
    font-size: 0.24rem;
    color: #747474;
    margin-top: 0.38rem;
    margin-right: 0.05rem;
}


.item-list li .content {
    line-height: 1;
    overflow: hidden;
}

.item-list li .content .sub_title {
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.34rem;
    font-size: 0.24rem;
    width: 5rem;
    color: #747474;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}

.item-list li .content .detail {
    float: right;
    margin-top: 0.3rem;
    margin-right: 0.18rem;
    font-size: 0.24rem;
    color: #747474;
}

.item-list li .content .detail_btn {
    margin-right: 0.13rem;
}

.item-list li .content .detail .arrow {
    width: .25rem;
    height: 0.30rem;
    background-position-x: -3.15rem;
    margin: -0.02rem;
}

.item-list li .type {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8rem;
    height: 0.9rem;
    color: #fff;
    font-style: normal;
}

.item-list li .type span {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    transform: rotate(-45deg);
    display: inline-block;
}

.item-list li .type_sys {
    background-position-x: -4.28rem;
    margin: 0;
}

.item-list li .type_custom_service {
    background-position-x: -5.12rem;
    margin: 0;
}