.game-view {
    background-image: url('../res/game/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #fff;
}

.dial-box {
    width: 4.1rem;
    height: 4.1rem;
    margin-left: 50%;
    left: -2.05rem;
    top: 13.75rem;
    z-index: 999;
}

.dial {
    width: 4.1rem;
    height: 4.1rem;
    background: url('../res/game/CircleCenter_1.png') no-repeat;
    background-size: contain;
    
}

.lipstick-box {
    width: 0;
    height: 0;
    z-index: -1;
}

.lipstick {
    display: inline-block;
    width: .41rem;
    height: 1.78rem;
    background: url('../res/game/Lipstick_1.png') no-repeat;
    background-size: contain;
    position: relative;
    top: -0.89rem;
    left: -0.205rem;
}
.shoot-lipstick{
    z-index: 0;
    left: 3.75rem;
    top: 10rem;
    opacity: 0;
}
.over-view{
    width: 6.2rem;
    height: 4rem;
    background-color: rgba(255,255,255,.8);
    border: .01rem solid #fff;
    margin: -2rem 0 0 -3.2rem;
    z-index: 999;
    display: none;
}