.test {
    display: flex;
}

/* banner图 */
.banner {
    width: 7.5rem;
    height: 3.75rem;
}

.banner>em {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transform: translateX(100%);
    box-sizing: border-box;
}

.banner a{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.banner-point {
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.banner-point i {
    display: inline-block;
    width: .15rem;
    height: .15rem;
    background-color: rgba(255, 255, 255, .5);
    transition: all 0.4s;
    margin: 0 .05rem .05rem .05rem;
}

.banner-point .cur {
    background-color: rgba(255, 255, 255, 1);
    width: .3rem;
}
