#newsContent {
    background-color: #fff;
}

.new-content {
    width: 6.9rem;
    overflow-y: auto;
    margin: 0 auto;

    padding-bottom: .98rem;
}

.new-content h1 {
    font-size: .28rem;
    color: #333;
    text-align: center;
    padding: .42rem 0;
}

.new-content p {
    font-size: .24rem;
    text-indent: .48rem;
}

.item-list {
    padding-top: .42rem;
}

.item-list li {
    background-color: #FAFAFA;
    width: 6.9rem;
    float: left;
    height: 2.05rem;
    margin-bottom: .24rem;
}

.item-list li>a {
    float: left;
    width: 2.05rem;
    height: 2.05rem;
}

.item-list li>a img {
    width: 2.05rem;
    height: 2.05rem;
}

.item-list li .right {
    height: 100%;
    float: right;
    width: 4.55rem;
}

.item-list li h3 {
    margin-top: .32rem;
    font-size: .24rem;
    color: #333;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-list li .get-btn {
    right: .14rem;
    bottom: .17rem;
}

.item-list li .price {
    color: #EC4A58;
    font-size: .24rem;
    bottom: .17rem;
}

.bottom-nav.news-bottom-nav {
    bottom: 0rem;
}

.news-bottom-nav .collect {
    background-position-x: -1.24rem;
}

.news-bottom-nav .share {
    background-position: -1.24rem -0.6rem;
}

.items-btn {
    background: linear-gradient(90deg, #F1626B, #EB505E);
    right: 0;
    bottom: 2.16rem;
    width: 1.5rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: .4rem 0 0 .4rem;
    color: #fff;
    text-indent: .65rem;

}
.items-btn .icon{
    width: .37rem;
    height: .4rem;
    background-position-x: -2.54rem;
    left: .22rem;
    top: .1rem;
}