.orderdetailBox .orderaddress{
    width: 7.5rem;
    height: 1.95rem;
    display: flex;
    flex-direction: row;
    border-bottom: .1rem solid #f9f9f9;
}
.orderdetailBox .orderaddress i.icon{
   width: .52rem;
   height: .56rem;
    background-position: -1.25rem -3.23rem;
    align-self: center;
    margin-left: .3rem;
}
.orderdetailBox .orderaddress .info{
    align-self: center;
    margin-left: .2rem;
    width: 6rem;
}
.orderdetailBox .orderaddress .info .name{
    font-size: .3rem;
}
.orderdetailBox .orderaddress .info .name>span{
    font-size: .18rem;
    color: #777;
    padding-left: 0.41rem;
}
.orderdetailBox .orderaddress .info .address span{
    background: #f5b5af;
    padding: 0 .15rem;
    color:#fff;
    margin-right:.1rem;
}
.orderdetailBox .orderBody{
    margin: 0 .3rem;
}
.orderdetailBox .orderBody .custIcon{
    height: 1rem;
    width: 100%;
    text-align: right;
    line-height: 1rem;  
    color: #ec4a59;
}
.orderdetailBox .orderBody .custIcon{
    position: relative;
}
.orderdetailBox .orderBody .custIcon i.icon{
    width: .54rem;
    height: .54rem;
    background-position: -1.85rem -3.23rem; 
    position: absolute;
    top: .26rem;
    right: 1.2rem;
}
.orderdetailBox .orderBody .comList .item{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 4px #eee;
   
    margin-bottom: .24rem;
}
.orderdetailBox .orderBody .comList .item .imgbox{
    width: 2.05rem;
    height: 2.05rem;
    margin-right: .2rem;
}
.orderdetailBox .orderBody .comList .item img{
    display: block;
    width: 2.05rem;
    height: 2.05rem;

}
.orderdetailBox .orderBody .comList .item .infoword{
    margin-top: .3rem;
    position: relative;
}
.orderdetailBox .orderBody .comList .item .infoword p{
    line-height: .4rem;
    width: 100%;
    display: -webkit-box;    
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 2;    
    overflow: hidden;
}
.orderdetailBox .orderBody .comList .item .price{
    position: absolute;
    bottom: .2rem;
    left: 0rem;
    color: #ec4a59;
}
.distrInformTion{
    margin-top: .4rem;
}
.distrInformTion .tip{
    margin-bottom: .2rem;
}
.distrInformTion .tip .wl,
.distrInformTion .tip .num,
.distrInformTion .tip .fz{
    color: #777;
}
.distrInformTion .tip .fz{
    display: inline-block;
    border:1px solid #777;
    border-radius: 30px;
    padding: .0rem .2rem;
    line-height: .3rem;
    margin-left: .22rem;
}
.distrInformTion .tip .num{
    margin-left: .22rem;
}

/************订单提交**************/
#orderSub .info{
    width: 5.52rem;
}
#orderSub  .orderaddress{
    border-bottom: none;
}
.enterAddress{
    width: 0.7rem;
    text-align: right;
    line-height: 1.95rem;
}
.enterAddress .icon{
    background-position:-3.41rem 0;
    width:0.21rem;
    height: 0.39rem;; 
}
.orderFoot{
    height: 0.98rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -1px 1px rgba(221, 221, 221, 1);
    z-index: 999;
    box-sizing: border-box;
}
.orderFoot .orderbtn{
    width: 2.39rem;
    height: 0.98rem;
    line-height: 0.98rem;
    float: right;
    background: #ec4a59;
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
}