.recRcodList{
    margin:0 .3rem;
}
.recRcodList a{
    color: #000;
}

.recRbox .item a img{
    display: block;
    width: 1.05rem;
    height: 1.05rem;
    align-self: center;
    border-radius: 100%;
    overflow: hidden;
}
.recRbox .item a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1.44rem;
    border-bottom:1px solid #eee;

}
.recRcodList .wordInfo{
    width: 5.58rem;
    align-self: center;
}
.recRcodList .wordInfo .namebox,
.recRcodList .wordInfo .timebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recRcodList .wordInfo .namebox{
    margin-bottom: .1rem;
}
.recRcodList .wordInfo .namebox .name{
    width: 2rem;

}
.recRcodList .wordInfo .namebox .tip{
    color: #ec4a59;
}
.recRcodList .wordInfo .timebox .time{
    color: #777;
}