<style>
    @include('../view_css/addresses.css');
</style>

<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    选择收货地址
</div>
<div class="collect-content">
    <!-- 地址列表 -->
    <div class="item-list">
        <ul>
            <li>
                <div class="wrapper">
                    <div class="left">
                        <i class="icon addr_icon"></i>
                    </div>
                    <div class="right">
                        <span>编辑</span>
                    </div>
                    <div class="content">
                        <p class="info">
                            <span class="name">完颜阿骨打</span>
                            <span class="phone">19017650290</span>
                        </p>
                        <p class="detail">
                            <span class='type'>默认</span>
                            江苏省苏州市相城区水务大厦5楼501室-江苏省苏州市相城区水务大厦5楼501室
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="left">
                        <i class="icon addr_icon"></i>
                    </div>
                    <div class="right">
                        <span>编辑</span>
                    </div>
                    <div class="content">
                        <p class="info">
                            <span class="name">完颜阿骨打</span>
                            <span class="phone">19017650290</span>
                        </p>
                        <p class="detail">
                            <span class='type'>默认</span>
                            江苏省苏州市相城区水务大厦5楼501室-江苏省苏州市相城区水务大厦5楼501室
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="addAddressBtn" class="add_addr_btn">添加新地址</div> 
</div>