<style>
    @include('../view_css/awardsBox.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    奖品柜
</div>
<div class="awardsBox">
    <div id="selAwardbox" class="selAwardbox">
        <!-- <div class="item">
            <div class="goubox">
                <div class="gou icon sel"></div>
            </div>
            <div class="img">
                <img src="../res/24.jpg" alt="">
            </div>
            <div class="word">
                <h3 class="tit">迪奥（DIOR)克丽丝汀烈艳蓝金唇膏666 3.5g </h3>
                <div class="price">市场参考价: ￥200</div>
            </div>
        </div> -->

    </div>

    <div class="aw_bottom">
        <div class="left">
            <div class="goubox">
                <i class="gou icon"></i>
            </div>
            <div class="word mr">全选</div>
            <div class="word" id="txtNum">共选中0样礼品</div>
        </div>
        <div class="right">提交订单</div>
    </div>
</div>