<style>
    @include('../view_css/collect.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    我的收藏
</div>
<div class="collect-content">

    <!-- 顶部导航 -->
    <nav id="nav" class="flex flexAlign">
        <em class="flexGrow cur">口红机</em>
        <em class="flexGrow">文章</em>
    </nav>
    <div class="collect-edit-box">
        <em class="edit-btn">
            编辑
        </em>
    </div>
    <!-- 商品列表 -->
    <div id="itemTabCon">
        <div class="item-list-box itemTab"  style="display:block">
            <ul id="roomList">
                <!-- <li>
                    <a href="#game">
                        <img class="lazy" src="" data-src="../res//banner1.jpg" alt="">
                    </a>
                    <div class="item-msg">
                        <div class="left">
                            <h3 class="font-clip">商品名称名称名称商品名称名称名称商品名称名称名称商品名称名称名称</h3>
                            <span class="flex">
                                <em class="price f26">魅力币：200</em>
                                <del class="f22">专柜价：&yen;249</del>
                            </span>
                        </div>
                        <div class="right">
                            <a href="javascript:void(0);" class="btn_red need-btn f26">我要这支</a>
                        </div>
                    </div>
                    <i class="absolute game-status f20 font-clip">
                        2000人游戏中
                    </i>
                </li> -->
            </ul>
        </div>

        <div class="item-list itemTab" style="display:none">
            <ul id="favArticleList">
                <!-- <li>
                    <a href="javascirpt:void(0);">
                        <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                    </a>
                    <div class="right relative">
                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                        <em class="price absolute">市场参考价格：&yen;99999</em>
                        <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                    </div>
                    <em class="del-btn absolute">
                        删除
                    </em>
                </li> -->
            </ul>
        </div>
    </div>
</div>
<!---删除二次确认弹窗-->
<div class="sureDialog">
        <div class="dialogCon">
            <p class="tips">确定要删除该文章吗？</p>
            <div class="btnC">
                <p class="cancle">取消</p>
                <p class="del">删除</p>
            </div>
        </div>
</div>