<style>
    @include('../view_css/collect.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    我的收藏
</div>
<div class="collect-content">

    <!-- 顶部导航 -->
    <nav id="nav" class="flex flexAlign">
        <em class="flexGrow cur">口红机</em>
        <em class="flexGrow">文章</em>
    </nav>
    <div class="collect-edit-box">
        <em class="edit-btn">
            编辑
        </em>
    </div>
    <!-- 商品列表 -->
    <div class="item-list">
        <ul>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
            <li>
                <a href="javascirpt:void(0);">
                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                </a>
                <div class="right relative">
                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                    <em class="price absolute">市场参考价格：&yen;99999</em>
                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                </div>
                <em class="del-btn absolute">
                    删除
                </em>
            </li>
        </ul>
    </div>

</div>