<style>
@include('../view_css/customer.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    客服
</div>
<div class="customer">
    <div class="message me">
        <div class="time">15:13 </div>
        <img class="avatar" src="../res/2.png" />
        <div class="con">
            <div class="plain">
                <div class="t">我是口红机，你能给我52的宠爱吗？我 是口红机，你能给我52的宠爱吗？</div>
            </div>
        </div>
    </div>
    <div class="message you">
        <img class="avatar" src="../res/2.png" />
        <div class="con">
            <div class="plain">
                <div class="t">我是口红机，你能给我52的宠爱吗？</div>
            </div>
        </div>
    </div>
    <div class="message me">
        <img class="avatar" src="../res/2.png" />
        <div class="con">
            <div class="plain">
                <div class="t">我是口红机，你能给我52的宠爱吗？我 是口红机，你能给我52的宠爱吗？</div>
            </div>
        </div>
    </div>
    <div class="message you">
        <img class="avatar" src="../res/2.png" />
        <div class="con">
            <div class="plain">
                <div class="t">我是口红机，你能给我52的宠爱吗？</div>
            </div>
        </div>
    </div>
</div>
<div class="mess-action">
    <input type="text" placeholder="咨讯" class="sendc" />
    <div class="icon"> </div>
</div>
