<style>
    @include('../view_css/email.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    消息中心
</div>
<div class="collect-content">
    <!-- 消息列表 -->
    <div class="item-list">
        <ul id="emailList">
            <li>
                <i class="icon type type_sys"><span>系统</span></i>
                <div class="header">
                    <span class='title'>这么长长长长长长长长长长长长长的内容</span>
                    <span class='time'>2018-11-11</span>
                </div>
                <div class="content">
                    <p class='sub_title'>内容这么长长长长长长长长长长长长长长长长长长长长长长长长</p>
                    <p class='detail'>
                        <span class='detail_btn'>查看</span>
                        <i class='icon arrow'></i>
                    </p>
                </div>
            </li>
            <li class="item">
                    <i class="icon type type_custom_service"><span>客服</span></i>
                    <div class="header">
                        <span class='title'>这么长长长长长长长长长长长长长的内容</span>
                        <span class='time'>2018-11-11</span>
                    </div>
                    <div class="content">
                        <p class='sub_title'>内容这么长长长长长长长长长长长长长长长长长长长长长长长长</p>
                        <p class='detail'>
                            <span class='detail_btn'>查看</span>
                            <i class='icon arrow'></i>
                        </p>
                    </div>
                </li>
        </ul>
    </div>
</div>