<style>
    @include('../view_css/find.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute pay-btn f20 rechargeBtn">
        <i class="icon"></i>
        <em>99999</em>
    </a>
    口红姬-发现
</div>
<div id="banner" class="banner relative">
    {{banner}}
    <div id="point" class="banner-point absolute"></div>
</div>
<div class="index-line"></div>
<div class="index-list-title" style="background-image:url('../res/index-title.png');"></div>
<div class="item-list">
    <ul id="findList">
        <!-- <li>
            <a href="#newsContent">
                <img class="lazy" src="" data-src="../res/15.jpg" alt="">
                <h3>标题标题标题标题标题</h3>
                <em class="hot-status f18"><i class="icon"></i>1234567</em>
            </a>
        </li> -->
    </ul>
</div>