<style>
    @include('../view_css/recharge.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute back-btn f20 closeSelf">
        <i class="icon"></i>
    </a>
    好友代充
</div>
<div class="rechargeBox">
    <div id="rechargeBanner" class="rechargeBanner">
        <img class="lazy" data-src="../res/rechargeB.jpg" alt="">
    </div>

    <div class="recMonList">
        <ul id="friendRecharge" class="list">
           
        </ul>
        <a id="" class="okRechargeBtn" href="javascript:void(0);">确认充值</a>
    </div>
</div>