<style>
@include('../view_css/friendsPlay.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    口红姬
</div>
<div class="friendsPlay">
    <div class="top">
        <div class="advanter"><img src="../res/4.png" /></div>
        <div class="talkTip">

                我是xxx，正在赢取xxx口红，你能帮 我赢下这件心仪之物吗？
        </div>
    </div>
    <div class="content">
            <div class="tit" style="background:url(../res/friendPlay-tit.png) no-repeat 0 0 / 1.76rem 0.58rem;"></div>
            <div class="list">
                <ul>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                               <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                 <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
 
</div>
<div class="friendsPlay-bottom">
    <a href="" class="fribtn">直接购买</a>
    <a href="" class="fribtn">开始闯关</a>
    <a href="" class="fribtn">为他充值</a>
</div>