<style>
    @include('../view_css/gamePlay-list.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    打榜
</div>
<div class="gamePlayList">
    <div class="top">
        <img src="../res/gamePlay-banner.jpg" />
        <a class="rule"></a>
    </div>
    <div class="wrap">
        <div class="topc">
            <div class="advanter">
                <img src="../res/4.png" />
            </div>
            <div class="info">
                <p class="num">今日可打榜次数:2</p>
                <p class="score">我的排位：2</p>
            </div>
            <div class="hitBtn">继续打榜</div>
        </div>
        <div class="list">
            <ul>
                <li class="top-first">
                    <div class="pic">
                        <div class="icon"><span>01</span></div>
                        <img class="lazy" alt="" src="../res/3.png" /> 
                    </div>
                    <div class="intro">
                        <p class="name font-clip">网名</p>
                        <p class="c font-clip">第一名可获得口红一支</p>
                    </div>
                    <div class="point">20分</div>
                </li>
                <li class="top-second">
                    <div class="pic">
                        <div class="icon"><span>02</span></div>
                        <img src="../res/3.png" /> 
                    </div>
                    <div class="intro">
                        <p class="name font-clip">网名</p>
                        <p class="c font-clip">第一名可获得口红一支</p>
                    </div>
                    <div class="point">20分</div>
                </li>
                <li class="top-three">
                    <div class="pic">
                        <div class="icon"><span>03</span></div>
                        <img src="../res/3.png" /> 
                    </div>
                    <div class="intro">
                        <p class="name font-clip">网名</p>
                        <p class="c font-clip">第一名可获得口红一支</p>
                    </div>
                    <div class="point">20分</div>
                </li>
                <li>
                   <div class="pic">
                        <div class="num"><span>04</span></div>
                        <img src="../res/3.png" /> 
                    </div>
                    <div class="intro">
                        <p class="name font-clip">网名</p>
                        <p class="c font-clip">第一名可获得口红一支</p>
                    </div>
                    <div class="point">20分</div>
                </li>
                <li>
                    <div class="pic">
                        <div class="num"><span>05</span></div>
                        <img src="../res/3.png" /> 
                    </div>
                    <div class="intro">
                        <p class="name font-clip">网名</p>
                        <p class="c font-clip">第一名可获得口红一支</p>
                    </div>
                    <div class="point">20分</div>
                </li>
            </ul>
        </div>
    </div>
</div>
