<style>
    @include('../view_css/gameInner.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    口红姬
</div>

<div class="innerGnameBox">
    <div class="banner"><img src="../res/banner1.jpg" alt=""></div>
    <div class="gameinfoTip"><img src="../res/gameinnerInfo.jpg" alt=""></div>

    <div class="gameinnerCont">
        <div class="title"></div>
        <ul class="contBox">
            <li class="item">
                <img src="../res/15.jpg" alt="">
                <p>迪奥999烈焰蓝金</p>
            </li>
            <li class="item">
                <img src="../res/15.jpg" alt="">
                <p>迪奥999烈焰蓝金</p>
            </li>
            <li class="item">
                <img src="../res/15.jpg" alt="">
                <p>迪奥999烈焰蓝金</p>
            </li>
            <li class="item">
                <img src="../res/15.jpg" alt="">
                <p>迪奥999烈焰蓝金</p>
            </li>
            <li class="item">
                <img src="../res/15.jpg" alt="">
                <p>迪奥999烈焰蓝金</p>
            </li>
        </ul>
    </div>

    <div class="gameInnerBottom">
        <ul class="left">
            <li class="item">
                <i class="icon"></i>
                <span>收藏</span>
            </li>
            <li class="item">
                <i class="icon"></i>
                <span>分享</span>
            </li>
            <li class="item">
                <i class="icon"></i>
                <span>充值</span>
            </li>
        </ul>
        <div id="gameStartBtn" class="right">直接挑战第3关</div>
    </div>
</div>