<style>
 @include('../view_css/gift.css');
</style>
<div class="view-title f38 relative">
        口红姬
</div>
<div class="giftWrap">
    <div class="banner">
        <img src="../res/1.png" />
    </div>
    <div class="content">
        <div class="tit" style="background:url(../res/Gift-tit.png) no-repeat 0 0 / 1.76rem 0.58rem;"></div>
        <div class="list">
            <ul>
                <li>
                    <a href="">
                        <div class="pic">
                            <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                        </div>
                        <div class="t font-clip">
                            迪奥999烈焰蓝金
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pic">
                            <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                        </div>
                        <div class="t font-clip">
                            迪奥999烈焰蓝金
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pic">
                            <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                        </div>
                        <div class="t font-clip">
                            迪奥999烈焰蓝金
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pic">
                            <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                        </div>
                        <div class="t font-clip">
                            迪奥999烈焰蓝金
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pic">
                           <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                        </div>
                        <div class="t font-clip">
                            迪奥999烈焰蓝金
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pic">
                             <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                        </div>
                        <div class="t font-clip">
                            迪奥999烈焰蓝金
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="giftBottom">
        <div class="gift-select">
            <img src="../res/17.jpg" />
        </div>
        <div class="giftname">
            <p class="t">迪奥9999烈焰蓝金</p>
            <p class="price">￥300</p>
        </div>
        <div class="surebtn">确认领取</div>
    </div>
</div>
