<style>
@include('../view_css/friendsPlay.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    口红姬
</div>
<div class="friendsPlay">
    <div class="top">
        <div class="advanter"><img src="../res/4.png" /></div>
        <div class="talkTip">
            我是xxx，正在赢取xxx口红，你能帮 我赢下这件心仪之物吗？
        </div>
    </div>
    <div class="content">
            <div class="tit" style="background:url(../res/helpOther-tit.png) no-repeat 0 0 / 2.04rem 0.58rem;"></div>
            <div class="list">
                <ul>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                               <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="pic">
                                 <img class="lazy" src="../res/12.jpg" alt="" data-src="../res/12.jpg">
                            </div>
                            <div class="t font-clip">
                                迪奥999烈焰蓝金
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
 
</div>
<div class="helpOther-bottom">
    <p class="t">你即将为你的好友xxx购买xxx</p>
    <div class="line">
        <p>商品价格</p>
        <span class="price">￥200</span>
    </div>
    <div class="line">
       <p>购买数量</p>
       <div class="numprice">
            <span class="addbtn"></span>
            <input class="num" type="tel" value="1">
            <span class="reducebtn"></span>
       </div>
    </div>
    <div class="line">
        <p>应付金额</p>
        <span class="price">￥200</span>
    </div>
    <div class="line-last">
        <p class="c">对方将在邮箱中收到你购买的礼物，接收时可选择商品 具体的色号</p>
        <p class="surebtn">确认购买</p>
    </div>
</div>
