<style>
    @include('../view_css/integral.css');
</style>

<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    积分兑
</div>

<div class="integralBox">
    <div class="recomTit">
        <h3>精品推荐</h3>
        <p>POPULAR</p>
    </div>
    <div id="integralListBox" class="integralListBox">
        <div class="integralList">
            <div class="img">
                <img src="../res/18.jpg" alt="">
            </div>
            <div class="title">
                <h3 class="font-clip">标题标题标的是撒撒睡非得失题</h3>
                <p class="sc">3积分</p>
            </div>
        </div>
        <div class="integralList">
            <div class="img">
                <img src="../res/19.jpg" alt="">
            </div>
            <div class="title">
                <h3 class="font-clip">标题标题标的是撒撒睡非得失题</h3>
                <p class="sc">3积分</p>
            </div>
        </div>
        <div class="integralList">
            <div class="img">
                <img src="../res/19.jpg" alt="">
            </div>
            <div class="title">
                <h3 class="font-clip">标题标题标的是撒撒睡非得失题</h3>
                <p class="sc">3积分</p>
            </div>
        </div>
        <div class="integralList">
            <div class="img">
                <img src="../res/19.jpg" alt="">
            </div>
            <div class="title">
                <h3 class="font-clip">标题标题标的是撒撒睡非得失题</h3>
                <p class="sc">3积分</p>
            </div>
        </div>
        <div class="integralList">
            <div class="img">
                <img src="../res/19.jpg" alt="">
            </div>
            <div class="title">
                <h3 class="font-clip">标题标题标的是撒撒睡非得失题</h3>
                <p class="sc">3积分</p>
            </div>
        </div>

    </div>

</div>