<style>
@include('../view_css/logistics.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascript:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    物流详情
</div>
<div class="logistics">
    <div class="top">
        <div class="icon"></div>
        <div class="info">
            <p class="name">圆通速递</p>
            <p class="nump">12556331365464333<span class="copyb">复制</span></p>
        </div>
    </div>
    <div class="status">
        <h2>物流状态</h2>
        <div class="list">
            <div class="list-l list-complete">
                <p class="time">11-14<span class="minute">11:09</span></p>
                <div class="statu-txt">
                    <p class="icon"></p>
                    <p class="txt">已签收</p>
                </div>
                
            </div>
            <div class="list-l list-way">
                <p class="time">11-14<span class="minute">11:09</span></p>
                <div class="statu-txt">
                    <p class="icon"></p>
                    <p class="txt">正在进行配送</p>
                </div>
            </div>
            <div class="list-l">
                <p class="time">11-14<span class="minute">11:09</span></p>
                <div class="statu-txt">
                    <p class="circle"></p>
                    <p class="txt">在分拨中心进行称重扫描</p>
                </div>
            </div>
            <div class="list-l">
                <p class="time">11-14<span class="minute">11:09</span></p>
                <div class="statu-txt">
                    <p class="circle"></p>
                    <p class="txt">在分拨中心进行称重扫描</p>
                </div>
            </div>
            <div class="list-l">
                <p class="time">11-14<span class="minute">11:09</span></p>
                <div class="statu-txt">
                    <p class="circle"></p>
                    <p class="txt">上海市发件</p>
                </div>
            </div>
            <div class="list-l">
                <p class="time">11-14<span class="minute">11:09</span></p>
                <div class="statu-txt">
                    <p class="circle"></p>
                    <p class="txt">快递已揽收</p>
                </div>
            </div>
        </div>
    </div>
</div>