<style>
    @include('../view_css/main.css');
    @include('../view_css/mySign.css');
</style>
<div class="view-title f38 relative">
    <a href="javascript:void(0);" class="absolute pay-btn f20 rechargeBtn">
        <i class="icon"></i>
        <em></em>
    </a>
    口红姬
</div>
<div id="banner" class="banner relative">
    {{banner}}
    <!-- <em><a href="#alert" lazy="../res/banner1.jpg"></a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner2.jpg"></a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner3.jpg"></a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner2.jpg"></a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner3.jpg"></a></em> -->
    <div id="point" class="banner-point absolute"></div>
</div>
<div class="hot-item">
    <div class="item-box">
        {{itemList}}
        <!-- <a href="#game">
            <img class="lazy" data-src="../res/1.jpg" alt="">
            <em>测试测试测试测试测试测试测试测试测试</em>
        </a> -->
    </div>
</div>
<div class="index-line"></div>
<div class="index-list-title" style="background-image:url('../res/index-title.png');"></div>
<div class="item-list-box">
    <ul id="roomList">
        <!-- <li>
            <a href="#game">
                <img class="lazy" src="" data-src="../res//banner1.jpg" alt="">
            </a>
            <div class="item-msg">
                <div class="left">
                    <h3 class="font-clip">商品名称名称名称商品名称名称名称商品名称名称名称商品名称名称名称</h3>
                    <span class="flex">
                        <em class="price f26">魅力币：200</em>
                        <del class="f22">专柜价：&yen;249</del>
                    </span>
                </div>
                <div class="right">
                    <a href="javascript:void(0);" class="btn_red need-btn f26">我要这支</a>
                </div>
            </div>
            <i class="absolute game-status f20 font-clip">
                2000人游戏中
            </i>
        </li> -->
    </ul>
</div>
<!----签到弹窗-->
<div id="signDialog" class="signDialog">
    <div class="mask"></div>
    <div class="signCon">
        <div class="mySign">
            <div class="sign-Days">
                <ul id="mySignDays">
                    <!-- <li class="days-small">
                        <div class="t">第1天</div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                   </li>
                   <li class="days-small">
                        <div class="t">第2天</div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                   </li>
                    <li class="days-big">
                        <div class="t">第3天</div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                        <div class="">豪华</div>
                    </li>
                    <li class="days-small" style="margin-right:0">
                        <div class="t">第4天</div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                   </li>
                   <li class="days-disable" style="margin-left: 0.78rem;">
                        <div class="t">第5天</div>
                        <div class="complete"></div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                   </li>
                   <li class="days-disable">
                        <div class="t">第6天</div>
                        <div class="complete"></div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                    </li>
                    <li class="days-big">
                        <div class="t">第7天</div>
                        <p class="signicon"></p>
                        <p class="money"><span>10</span>欢乐币</p>
                    </li> -->
                </ul>
            </div>
            <div class="sinBtn">签到</div>
        </div>
    </div>
</div>
