<style>
    @include('../view_css/main.css');
</style>
<div id="banner" class="banner relative">
    <em><a href="#alert" lazy="../res/banner1.jpg">1</a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner2.jpg">2</a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner3.jpg">3</a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner2.jpg">4</a></em>
    <em><a href="javascript:void(0);" lazy="../res/banner3.jpg">5</a></em>
    <div id="point" class="banner-point absolute"></div>
</div>
<div>这是首页</div>
<a href="#alert">这里跳alert</a>
<a href="#game">进入游戏</a>