<style>
@include('../view_css/myOrder.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    我的订单
</div>
<div class="myOrder-Wrap">
    <ul>
        <li>
            <div class="top">
                <p class="time">2018-11-14</p>
                <p class="stat">待确认收货</p>
            </div>
            <div class="con">
                <div class="infot">
                    <div class="pic"><img src="../res/26.jpg" /></div>
                    <div class="info">
                        <p class="t">迪奥（DIOR)克丽丝汀烈艳蓝金唇膏6666663.5g ...</p>
                        <p class="price">市场参考价: ￥200</p>
                    </div>
                </div>
                <div class="bottom">
                    <span>共计1件商品</span>
                    <div class="logis-btn">查看物流</div>
                </div>
            </div>
        </li>
        <li>
            <div class="top">
                <p class="time">2018-11-14</p>
                <p class="stat">待确认收货</p>
            </div>
            <div class="con">
                <div class="infot">
                    <div class="pic"><img src="../res/26.jpg" /></div>
                    <div class="info">
                        <p class="t">迪奥（DIOR)克丽丝汀烈艳蓝金唇膏6666663.5g ...</p>
                        <p class="price">市场参考价: ￥200</p>
                    </div>
                </div>
                <div class="bottom">
                    <span>共计1件商品</span>
                    <div class="logis-btn">查看物流</div>
                </div>
            </div>
        </li>
        <li>
            <div class="top">
                <p class="time">2018-11-14</p>
                <p class="stat">待确认收货</p>
            </div>
            <div class="con">
                <div class="infot">
                    <div class="pic"><img src="../res/26.jpg" /></div>
                    <div class="info">
                        <p class="t">迪奥（DIOR)克丽丝汀烈艳蓝金唇膏6666663.5g ...</p>
                        <p class="price">市场参考价: ￥200</p>
                    </div>
                </div>
                <div class="bottom">
                    <span>共计1件商品</span>
                    <div class="logis-btn">查看物流</div>
                </div>
            </div>
        </li>
    </ul>
</div>