<style>
@include('../view_css/myShare.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    我的分享
</div>
<div class="myShare">
    <div class="banner">
        <img src="../res/banner1.jpg" />
    </div>
    <div class="shareTop">
        <a class="Invite" href="">
            <span class="icon"></span>
            <span class="txt">邀请好友</span>
        </a>
        <a class="Poster" href="">
            <span class="icon"></span>
            <span class="txt">生成海报图片</span>
        </a>
    </div>
    <div class="myincome">
        <div class="t">
            <div class="tt">
                <span class="icon"></span>
                <span class="txt">邀请收益</span>
            </div>
        </div>
        <ul>
            <li>
                <div class="lficon">
                    <img src="../res/share4.png" />
                    <span class="txt">注册</span>
                </div>
                <div class="rlicon">
                    <p class="money1">收益<span class="red">1000</span>币</p>
                    <p class="money2"><span>人数：1000人</span></p>
                </div>
            </li>
            <li>
                <div class="lficon">
                    <img src="../res/share5.png" />
                    <span class="txt">签到3次</span>
                </div>
                <div class="rlicon">
                    <p class="money1 blockline1">收益<span class="red">1000</span>币</p>
                    <p class="money2 blockline">
                        <span>999人<em>完成人数</em></span>
                        <span> 12人<em>未完成人数</em></span>
                    </p>
                </div>
            </li>
            <li>
                <div class="lficon">
                    <img src="../res/share6.png" />
                    <span class="txt">玩3次游戏</span>
                </div>
                <div class="rlicon">
                    <p class="money1 blockline1">收益<span class="red">1000</span>币</p>
                    <p class="money2 blockline">
                        <span>999人<em>完成人数</em></span>
                        <span> 12人<em>未完成人数</em></span>
                    </p>
                </div>
            </li>
            <li>
                <div class="lficon">
                    <img src="../res/share7.png" />
                    <span class="txt">参与2天打榜</span>
                </div>
                <div class="rlicon">
                    <p class="money1 blockline1">收益<span class="red">1000</span>币</p>
                    <p class="money2 blockline">
                        <span>999人<em>完成人数</em></span>
                        <span> 12人<em>未完成人数</em></span>
                    </p>
                </div>
            </li>
          
        </ul>
    </div>
</div>
