<style>
    @include('../view_css/mySign.css');
    </style>
    <div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    我的签到
    </div>
    <div class="mySign">
        <div class="top">
            <div class="sign-action">
                <span class="signico"></span>
                <span class="txt">已签到</span>
            </div>
        </div>
        <div class="sign-Days">
           <ul>
               <li class="days-small">
                    <div class="t">第1天</div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
               </li>
               <li class="days-small">
                    <div class="t">第2天</div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
               </li>
                <li class="days-big">
                    <div class="t">第3天</div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
                    <div class="">豪华</div>
                </li>
                <li class="days-small" style="margin-right:0">
                    <div class="t">第4天</div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
               </li>
               <li class="days-disable" style="margin-left: 0.78rem;">
                    <div class="t">第5天</div>
                    <div class="complete"></div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
               </li>
               <li class="days-disable">
                    <div class="t">第6天</div>
                    <div class="complete"></div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
                </li>
                <li class="days-big">
                    <div class="t">第7天</div>
                    <p class="signicon"></p>
                    <p class="money"><span>10</span>欢乐币</p>
                </li>
           </ul>
        </div>
    </div>