<style>
    @include('../view_css/news-content.css');
</style>
<div class="view-title f38 ">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    文章内容
</div>
<div class="new-content">
        <h1>标题标题标题标题标题标题标题标题标题标题标题标题标标题标题标题</h1>
        <div class="content">
            <p>
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            </p>
            <p>
                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
            </p>
        </div>
        <div class="item-list">
            <ul>
                <li>
                    <a href="javascirpt:void(0);">
                        <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                    </a>
                    <div class="right relative">
                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                        <em class="price absolute">市场参考价格：&yen;99999</em>
                        <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                    </div>
                </li>
                <li>
                    <a href="javascirpt:void(0);">
                        <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                    </a>
                    <div class="right relative">
                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                        <em class="price absolute">市场参考价格：&yen;99999</em>
                        <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                    </div>
                </li>
            </ul>
        </div>
    
    </div>
<div id="" class="bottom-nav flex flexAlign fixed news-bottom-nav">
    <div class="flexGrow">
        <a href="javascript:void(0);">
            <i class="icon collect"></i>
            <em>999</em>
        </a>
    </div>
    <div class="flexGrow">
        <a href="javascript:void(0);">
            <i class="icon share"></i>
            <em>分享</em>
        </a>
    </div>
</div>
<div class="fixed items-btn relative">
    <i class="icon absolute"></i>
    商品99
</div>
<!----文章弹窗-->
<div class="newsDialog">
    <div class="newsdialCon">
        <div class="toptit">
            <p class="t">文章中商品</p>
            <p class="toggle">收起</p>
        </div>
        <div class="new-content"> 
                <div class="item-list">
                    <ul>
                        <li>
                            <a href="javascirpt:void(0);">
                                <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                            </a>
                            <div class="right relative">
                                <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                <em class="price absolute">市场参考价格：&yen;99999</em>
                                <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                            </div>
                        </li>
                        <li>
                            <a href="javascirpt:void(0);">
                                <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                            </a>
                            <div class="right relative">
                                <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                <em class="price absolute">市场参考价格：&yen;99999</em>
                                <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                            </div>
                        </li>
                        <li>
                            <a href="javascirpt:void(0);">
                                <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                            </a>
                            <div class="right relative">
                                <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                <em class="price absolute">市场参考价格：&yen;99999</em>
                                <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                            </div>
                        </li>
                        <li>
                                <a href="javascirpt:void(0);">
                                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                                </a>
                                <div class="right relative">
                                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                    <em class="price absolute">市场参考价格：&yen;99999</em>
                                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                                </div>
                            </li>
                            <li>
                                <a href="javascirpt:void(0);">
                                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                                </a>
                                <div class="right relative">
                                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                    <em class="price absolute">市场参考价格：&yen;99999</em>
                                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                                </div>
                            </li>
                            <li>
                                <a href="javascirpt:void(0);">
                                    <img class="lazy" src="" alt="" data-src="../res/21.jpg">
                                </a>
                                <div class="right relative">
                                    <h3>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                    <em class="price absolute">市场参考价格：&yen;99999</em>
                                    <a href="javascript:void(0);" class="btn_red get-btn absolute">立即赢取</a>
                                </div>
                            </li>
                    </ul>
                </div>
            
            </div>
    </div>
</div>
    