<style>
@include('../view_css/newsInfo.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    消息详情
</div>
<div class="newsInfo">
    <div class="newst">
        <p class="t">领奖补充通知</p>
        <p class="time">2018-11-14</p>
        <p class="from">来自系统</p>
    </div>
    <div class="newsc">
        <p>恭喜您获得迪奥999烈焰蓝金口红，内容邮件内容邮件内容内
                邮件内容邮件内容邮件内容邮件邮件内容邮件内容邮件内容内
                邮件内容邮件内容....</p>
        <p>先请通过下方按钮领取。</p>
    </div>
    <div class="recebtn">领取奖励</div>
</div>