<style>
    @include('../view_css/orderdetail.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    订单详细
</div>
<div class="orderdetailBox">
    <div class="orderaddress">
        <i class="icon"></i>
        <div class="info">
            <div class="name"> 姓名：<span>13565434565</span></div>
            <div class="address"> <span>默认</span> 江苏省苏州市想成区税务打撒五楼501江苏设计科技</div>
        </div>
    </div>
    <div class="orderBody">
        <div class="custIcon">
            <i class="icon"></i>
        </div>
        <ul class="comList">
            <li class="item">
                <div class="imgbox">
                    <img src="../res/21.jpg" alt="">
                </div>
                <div class="infoword">
                    <p>迪奥（DIRO）是分身乏术是水电费水电费萨发粉丝3.5g</p>
                    <span class="price">市场参考价：¥200</span>
                </div>
            </li>
            <li class="item">
                <div class="imgbox">
                    <img src="../res/21.jpg" alt="">
                </div>
                <div class="infoword">
                    <p>迪奥（DIRO）是分身乏术是水电费水电费萨发粉丝3.5g</p>
                    <span class="price">市场参考价：¥200</span>
                </div>
            </li>
            <li class="item">
                <div class="imgbox">
                    <img src="../res/21.jpg" alt="">
                </div>
                <div class="infoword">
                    <p>迪奥（DIRO）是分身乏术是水电费水电费萨发粉丝3.5g</p>
                    <span class="price">市场参考价：¥200</span>
                </div>
            </li>

        </ul>


        <dl class="distrInformTion">
            <dd class="tip">
                配送信息：
                <span class="wl">顺风</span>
                <span class="num">23434546565656</span>
                <span class="fz">复制</span>
            </dd>
            <dd class="tip">
                订单编号：
                <span class="wl">1232rerfg4455</span>
                <span class="fz">复制</span>
            </dd>
            <dd class="tip">
                订单时间：
                <span class="wl">2018-11-14</span>
              
            </dd>

        </dl>
    </div>

</div>