<style>
    @include('../view_css/personal.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    我的
</div>

<div class="mypagesBox">
    <div class="myinner">
        <div class="myhead">
            <div class="headportbox">
                <div class="headport">
                    <img src="../res/22.jpg" alt="">
                </div>
                <div class="tit">
                    <h3>口红姬网名</h3>
                    <p>我的魅力币：200</p>
                </div>
            </div>
            <div id="rechargeBtn" class="regcahrgebtn">充 值</div>
        </div>
        <ul id="userBtnList" class="headIcon">
            <!-- <li id="integralBtn" class="item">
                    <i class="icon"></i>
                    <p>积分</p>
            </li> -->
            <li class="item">
                    <i class="icon"></i>
                    <p>签到</p>
            </li>
            <li id="awardsBox" class="item">  
                    <i class="icon"></i>
                    <p>奖品柜</p>
            </li>
            <li id="integralBtn" class="item">              
                    <i class="icon"></i>
                    <p>积分兑</p>                
            </li>
            <li id="email" class="item">
                    <i class="icon"></i>
                    <p>邮箱</p>
            </li>
        </ul>
        <div class="mybanner">
            <img src="../res/23.jpg" alt="">
        </div>
        <ul id="userBtnList2" class="myicon2">
            <li id="orderBtn" class="itemIcon">
                <i class="icon "></i>
                <p>我的订单</p>
            </li>
            <li id="collectBtn" class="itemIcon">
                <i class="icon "></i>
                <p>我的收藏</p>
            </li>
            <li id="shareBtn" class="itemIcon">
                <i class="icon "></i>
                <p>我的分享</p>
            </li>
            <li id="addressBtn" class="itemIcon">
                <i class="icon "></i>
                <p>地址管理</p>
            </li>
            <li id="serviceBtn" class="itemIcon">
                <i class="icon "></i>
                <p>联系客服</p>
            </li>

        </ul>
    </div>
</div>