<style>
@include('../view_css/prizePoster.css');
</style>
<div class="prizePoster">
    <div class="info">
        <div class="advanter">
            <img src="../res/2.png" />
        </div>
        <p class="nickName">香香香菇</p>
        <p class="tips">在口红姬游戏挑战中赢得<span>xxxx</span></p>
        <div class="pic">
            <img src="../res/5.png" />
        </div>
    </div>
    <div class="ewm">
        <img src="../res/code.jpg" />
    </div>
    <p class="word">爆款口红等你拿 每天送万只口红</p>
</div>