<style>
    @include('../view_css/recharge.css');
</style>
<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    充值
</div>
<div class="rechargeBox">
    <div class="rechargeBanner">
        <img src="../res/rechargeB.jpg" alt="">
        <i class="icon01"></i>
        <em class="icon02"></em>
        <dl class="wordList">
            <dd>当前魅力币：200</dd>
            <dd>首次代充多赠20%</dd>
        </dl>
    </div>

    <div class="recMonList">
        <ul class="list">
            <li class="item cur"><a href="#">
                    <span class="price">¥10</span>
                    <p>共10魅力币</p>
                </a></li>
            <li class="item"><a href="#">
                    <span class="price">¥10</span>
                    <p>共10魅力币</p>
                </a></li>
            <li class="item"><a href="#">
                    <span class="price">¥10</span>
                    <p>共10魅力币</p>
                </a></li>
            <li class="item"><a href="#">
                    <span class="price">¥10</span>
                    <p>共10魅力币</p>
                </a></li>
            <li class="item"><a href="#">
                    <span class="price">¥10</span>
                    <p>共10魅力币</p>
                </a></li>
            <li class="item"><a href="#">
                    <span class="price">¥10</span>
                    <p>共10魅力币</p>
                </a></li>
        </ul>
        <a class="okRechargeBtn" href="">确认充值</a>
    </div>
</div>