<style>
    @include('../view_css/recRcods.css');
</style>

<div class="view-title f38 relative">
    <a id="goBack" href="javascirpit:void(0);" class="absolute back-btn f20">
        <i class="icon"></i>
    </a>
    充值记录
</div>

<div class="recRcodList">
    <ul class="recRbox">
        <li class="item"><a href="">
                <img src="../res/3.png" alt="">
                <div class="wordInfo">
                    <div class="namebox">
                        <div class="name font-clip">大是大非上对方ssdsdsdsa水电费说</div>
                        <div class="tip">TA为你充值</div>
                    </div>
                    <div class="timebox">
                        <div class="time">2018-11-14 16:22:21</div>
                        <div class="tip">20币</div>
                    </div>
                </div>
            </a></li>
        <li class="item"><a href="">
                <img src="../res/3.png" alt="">
                <div class="wordInfo">
                    <div class="namebox">
                        <div class="name font-clip">大是大非上对方ssdsdsdsa水电费说</div>
                        <div class="tip">TA为你充值</div>
                    </div>
                    <div class="timebox">
                        <div class="time">2018-11-14 16:22:21</div>
                        <div class="tip">20币</div>
                    </div>
                </div>
            </a></li>
        <li class="item"><a href="">
                <img src="../res/3.png" alt="">
                <div class="wordInfo">
                    <div class="namebox">
                        <div class="name font-clip">大是大非上对方ssdsdsdsa水电费说</div>
                        <div class="tip">TA为你充值</div>
                    </div>
                    <div class="timebox">
                        <div class="time">2018-11-14 16:22:21</div>
                        <div class="tip">20币</div>
                    </div>
                </div>
            </a></li>
        <li class="item"><a href="">
                <img src="../res/3.png" alt="">
                <div class="wordInfo">
                    <div class="namebox">
                        <div class="name font-clip">大是大非上对方ssdsdsdsa水电费说</div>
                        <div class="tip">TA为你充值</div>
                    </div>
                    <div class="timebox">
                        <div class="time">2018-11-14 16:22:21</div>
                        <div class="tip">20币</div>
                    </div>
                </div>
            </a></li>
    </ul>
</div>