  /* 消除点击阴影问题 */
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

  }

  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  i,
  a,
  em,
  code,
  form,
  fieldset,
  legend,
  input,
  button,
  textarea,
  p,
  blockquote,
  th,
  td,
  figure {
    margin: 0;
    padding: 0
  }

  fieldset,
  img {
    border: 0
  }

  :focus {
    outline: 0
  }

  address,
  caption,
  cite,
  code,
  dfn,
  em,
  strong,
  th,
  var,
  optgroup {
    font-style: normal;
    font-weight: normal
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal
  }

  abbr,
  acronym {
    border: 0;
    font-variant: normal
  }

  input,
  button,
  textarea,
  select,
  optgroup,
  option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
  }

  code,
  kbd,
  samp,
  tt {
    font-size: 100%
  }

  input,
  button,
  textarea,
  select {
    *font-size: 100%
  }

  body {
    line-height: 1.5
  }

  ol,
  ul {
    list-style: none
  }

  table {
    border-collapse: collapse;
    border-spacing: 0
  }

  caption,
  th {
    text-align: left
  }

  sup,
  sub {
    font-size: 100%;
    vertical-align: baseline
  }

  :link,
  :visited,
  ins {
    text-decoration: none
  }

  blockquote,
  q {
    quotes: none
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none
  }

  body {
    font-size: .24rem;
    font-family: "Microsoft Yahei", Arial, Tahoma, Helvetica, "SimSun", "Hiragino Sans GB", sans-serif;
  }

  html,
  body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  ol,
  ul {
    list-style: none;
  }

  button {
    border: none;
  }

  .page-container {
    height: 100%;
    max-width: 7.5rem;
    display: flex;
    /* background-color: beige; */
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1;

  }

  .view {
    flex: 1;
  }

  .full-window {
    height: 100%;
    width: 100%;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .top_left_50 {
    left: 50%;
    top: 50%;
  }

  .hide {
    display: none;
  }

  .flex {
    display: flex;
  }

  .flexAlign {
    -webkit-box-align: center;
    -align-items: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .flexGrow {
    -webkit-box-flex: 1.0;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .flexGrowZ {
    -webkit-box-flex: 0;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  }

  .font-clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /*****字体大小****/
  .f18 {
    font-size: .18rem
  }

  .f20 {
    font-size: .2rem
  }

  .f22 {
    font-size: .22rem
  }

  .f26 {
    font-size: .26rem
  }

  .f28 {
    font-size: .28rem
  }

  .f38 {
    font-size: .38rem
  }

  /*****icon*****/
  .icon {
    background-image: url(../res//allico.png);
    background-repeat: no-repeat;
    background-size: 6.32rem 6.32rem;
    display: inline-block;
  }

  /******底部banner******/
  .bottom-nav {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    left: 50%;
    bottom: -1rem;
    z-index: 99;
    width: 7.5rem;
    height: .98rem;
    font-size: .26rem;
    margin-left: -3.75rem;
    border-top: 1px solid #ddd;
    /* box-shadow:0px -2px 15px rgba(0, 0, 0, 0.2); */
  }

  .bottom-nav .icon {
    display: inline-block;
    width: .62rem;
    height: .62rem;
    margin-bottom: -0.15rem;
  }

  .bottom-nav .find .icon {
    background-position-y: -0.62rem;
  }

  .bottom-nav .personal .icon {
    background-position-y: -1.24rem;
  }

  .bottom-nav .cur .icon {
    background-position-x: -0.62rem;
  }

  .bottom-nav .cur {
    color: #EC4A58;
  }

  .bottom-nav .cur .find {
    background-position-x: -0.62rem;
  }

  .bottom-nav .cur .personal {
    background-position-x: -0.62rem;
  }

  .bottom-nav em {
    display: inline-block;
  }

  .bottom-nav a {
    display: inline-block;
    width: 1rem;
    height: .8rem;
    color: #333;

  }

  .view-title {
    text-align: center;
    height: .8rem;
    color: #333;
    line-height: .8rem;
  }

  /******************** banner图 ****************/
  .banner {
    width: 7.5rem;
    height: 3.75rem;
    overflow: hidden;
  }

  .banner>em {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    transform: translateX(100%);
    box-sizing: border-box;
  }

  .banner a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .banner-point {
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .banner-point i {
    display: inline-block;
    width: .15rem;
    height: .15rem;
    background-color: rgba(255, 255, 255, .5);
    transition: all 0.4s;
    margin: 0 .05rem .05rem .05rem;
  }

  .banner-point .cur {
    background-color: rgba(255, 255, 255, 1);
    width: .3rem;
  }

  /******************** 界面顶部标题 ****************/
  .view-title {
    border-bottom: 1px solid #eee;
    background-color: #fff;
  }

  .view-title .pay-btn,
  .view-title .back-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    left: 0;
    top: .15rem;
    width: .8rem;
    color: #333;
  }

  .view-title .back-btn {
    top: .2rem;
  }

  .view-title .pay-btn em {
    display: block;
    width: 100%;
    float: left;
    height: .26rem;
    line-height: .26rem;
  }

  .view-title .pay-btn .icon {
    width: .44rem;
    height: .32rem;
    background-position: -1.86rem -1.21rem;
    margin: 0;
  }

  .view-title .back-btn .icon {
    width: .24rem;
    height: .39rem;
    background-position-x: -3.68rem;
    margin: 0;
  }


  /******************** 商品列表标题 ****************/
  .index-list-title {
    height: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3.14rem .58rem;
  }

  /******************** 按钮 ****************/
  .btn_red {
    display: inline-block;
    width: 1.6rem;
    height: .6rem;
    background-color: #EC4A58;
    font-size: .26rem;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
  }

  /*******************灰度******************/
  .gray {
    filter: Gray;
    -webkit-filter: grayscale(100%);
  }