  /* 消除点击阴影问题 */
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }


  body {
    font-size: .24rem;
  }

  html,
  body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .page-container {
    height: 100%;
    max-width: 7.5rem;
    display: flex;
    background-color: beige;
    margin: 0 auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .view{
    
  }

  .full-window {
    height: 100%;
    width: 100%;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }
  .top_left_50 {
    left:50%;
    top: 50%;
  }